button.action{
    border: none;
    background: #C0C0C0;
    font-size: 1.5em;
    font-family: inherit;
    cursor: pointer;
}

body{
  background: #912121;
  color: white;
  font-family: monospace;
}

div.table{
  width:100%;
  overflow: auto;
  background: white;
  color: black;
  margin-top: 10px;
}

div.row{
  clear: both;
  padding:5px;
}

div.left{
  text-transform: uppercase;
  font-family: monospace;
  float: left;
}

div.right{

}


div.options{
  background: #C1C1C1;
  color: black;
  padding: 10px;
  width: 50%;
  height: 100px;
}
